body {
    background-color: turquoise;
}
#kidslego {
    color: white;
}
.logo-container {
    position: center;
    top:35%; /* Adjust as needed */
    left: 30%;  /* Adjust as needed */
    z-index: 2000; /* Ensure it's above other content */
  }
  
  .logo-container img {
    width: 700px; /* Adjust as needed */
    height: auto;
    background-position: center;
  }
  .header {
    text-align: center;
    background: turquoise;
    color: white;
    font-size: 30px;
    background-size: cover;
  }
  .header-image {
    background-image: url('./Images/ChildrenPlaying.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire header */
    height: 600px; /* Set a desired height for the header (adjust as needed) */
     background-image: url(./Images/ChildrenPlaying.jpg);
    background-size: cover;
    }

body {
    color: white;
}
p {
    font-size: 30px;
}
.contactus { 
    margin-top: 10%;

}